body {
    font-family: 'Acme', sans-serif;
    background: url(../images/background-image.png);
    color: white;  
}

/* not working */
#wins, #losses, #score, .random-number {
    border: 1px solid white;
    padding: 5px;
}

img {
    height: 200px;
    width: 200px;
    border: 5px double black;
}
