body {
    font-family: 'Acme', sans-serif;
    background: url(../images/background-image.png);
    color: white; 
    text-shadow: 2px 2px black; 
    padding: 50px;
}

.box {
    border: 5px inset white;
    padding: 5px;
    width: 190px;
    height: 150px;
    text-align: center;
    float: left;
    margin: 10px 5px 20px 5px;
}

img {
    height: 200px;
    width: 200px;
    border: 5px inset rgb(34, 233, 200);
    clear: left;
    width: 0 20px;
}

.instructions {
    background-image: linear-gradient(to bottom, rgb(34, 233, 200), white);
    border: 5px inset white;
    color: black;
    text-shadow: none;
    padding: 10px 20px 5px 20px;
    width: 770px;
    margin: 20px 0;
}



@media (max-width: 960px) {
    .instructions {
        width: 100%;
        margin: 0;
    }

    .row {
        align-content: center;
        flex-wrap: nowrap;
    }

    .box {
        float: none;
        height: 175px;
        font-size: 1em;
    }

}

@media (max-width: 640px) {
    .instructions {
        width: 100%;
        margin: 0;
    }

    .row {
        align-content: center;
        flex-wrap: nowrap;
    }

    .box {
        float: none;
        height: 200px;
        font-size: 1em;
    }

}